<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历史购买</title>
    <link rel="stylesheet" href="/static/css/font_load.css"/>
    <link rel="stylesheet" href="/static/css/head_foot.css"/>
    <link rel="stylesheet" href="/static/css/itemGraph.css"/>
    <link rel="stylesheet" href="/static/css/historyIndex.css"/>
</head>
<body>
<header>
    <h1><a href="http://changebao.com">ChangeBao</a></h1>
    <nav>
        <ul>
            <li><a href="/login.html">登录</a></li>
            <li><a href="/register.html">注册</a></li>
            <li><a href="#">首页</a></li>
            <li><a href="#">说明</a></li>
        </ul>
    </nav>
</header>
<nav id="user">
    <ul>
        <li>人气秘籍</li>
        <li>历史购买</li>
        <li>发布新品</li>
        <li>找同学</li>
        <li>找宝贝</li>
    </ul>
</nav>
<div id="main">
    <div id="userInfo">
        <img src="/static/pictures/myhead.jpg" alt="this is for test"/>
        <ul>
            <li>姓名:王益飞</li>
            <li>院系:计算机学院</li>
            <li>活跃度:80 热度:100</li>
            <li>在线商品:5</li>
            <li>累计成交:200</li>
        </ul>
    </div>
    <div id="history">
        <p>历史购买数据</p>
        <article>
            <div class="left">
                <div class="pictures">
                    <img src="/static/pictures/myhead.jpg" title="pic_1"/>
                    <img src="/static/pictures/a.png" title="pic_2"/>
                    <img src="/static/pictures/b.jpg" title="pic_3"/>
                    <img src="/static/pictures/c.jpg" title="pic_4"/>
                </div>
            </div>
            <div class="right">
                <p>http权威指南（人民邮电出版社)</p>
                <ul>
                    <li>分类标签：图书、IT、http、web</li>
                    <li>类别：海报</li>
                    <li>所属用户：王益飞</li>
                    <li>发布日期：2016-4-26</li>
                </ul>
                <div class="direction">
                    <span>热度：70</span><span>关注度：203</span>
                </div>
            </div>
        </article>
        <article>
            <div class="left">
                <div class="pictures">
                    <img src="/static/pictures/myhead.jpg" title="pic_1"/>
                    <img src="/static/pictures/a.png" title="pic_2"/>
                    <img src="/static/pictures/b.jpg" title="pic_3"/>
                    <img src="/static/pictures/c.jpg" title="pic_4"/>
                </div>
            </div>
            <div class="right">
                <p>http权威指南（人民邮电出版社)</p>
                <ul>
                    <li>分类标签：图书、IT、http、web</li>
                    <li>类别：海报</li>
                    <li>所属用户：王益飞</li>
                    <li>发布日期：2016-4-26</li>
                </ul>
                <div class="direction">
                    <span>热度：70</span><span>关注度：203</span>
                </div>
            </div>
        </article>
        <article>
            <div class="left">
                <div class="pictures">
                    <img src="/static/pictures/myhead.jpg" title="pic_1"/>
                    <img src="/static/pictures/a.png" title="pic_2"/>
                    <img src="/static/pictures/b.jpg" title="pic_3"/>
                    <img src="/static/pictures/c.jpg" title="pic_4"/>
                </div>
            </div>
            <div class="right">
                <p>http权威指南（人民邮电出版社)</p>
                <ul>
                    <li>分类标签：图书、IT、http、web</li>
                    <li>类别：海报</li>
                    <li>所属用户：王益飞</li>
                    <li>发布日期：2016-4-26</li>
                </ul>
                <div class="direction">
                    <span>热度：70</span><span>关注度：203</span>
                </div>
            </div>
        </article>
        <article>
            <div class="left">
                <div class="pictures">
                    <img src="/static/pictures/myhead.jpg" title="pic_1"/>
                    <img src="/static/pictures/a.png" title="pic_2"/>
                    <img src="/static/pictures/b.jpg" title="pic_3"/>
                    <img src="/static/pictures/c.jpg" title="pic_4"/>
                </div>
            </div>
            <div class="right">
                <p>http权威指南（人民邮电出版社)</p>
                <ul>
                    <li>分类标签：图书、IT、http、web</li>
                    <li>类别：海报</li>
                    <li>所属用户：王益飞</li>
                    <li>发布日期：2016-4-26</li>
                </ul>
                <div class="direction">
                    <span>热度：70</span><span>关注度：203</span>
                </div>
            </div>
        </article>
        <article>
            <div class="left">
                <div class="pictures">
                    <img src="/static/pictures/myhead.jpg" title="pic_1"/>
                    <img src="/static/pictures/a.png" title="pic_2"/>
                    <img src="/static/pictures/b.jpg" title="pic_3"/>
                    <img src="/static/pictures/c.jpg" title="pic_4"/>
                </div>
            </div>
            <div class="right">
                <p>http权威指南（人民邮电出版社)</p>
                <ul>
                    <li>分类标签：图书、IT、http、web</li>
                    <li>类别：海报</li>
                    <li>所属用户：王益飞</li>
                    <li>发布日期：2016-4-26</li>
                </ul>
                <div class="direction">
                    <span>热度：70</span><span>关注度：203</span>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="clean"></div>
<footer>
    <div id="foot_line"></div>
    <ul>
        <li>友情链接
            <ul>
                <li><a href="#">太原理工大学教务处</a></li>
                <li><a href="#">太原理工大学勤工助学网站</a></li>
                <li><a href="#">太原理工大学招就处</a></li>
                <li><a href="#">龙城学习网站</a></li>
                <li>太原理工大学学院网站
                    <ul>
                        <li><a href="#">计算机学院</a></li>
                        <li><a href="#">材料学院</a></li>
                        <li><a href="#">现代科技学院</a></li>
                        <li><a href="#">马克思学院</a></li>
                        <li><a href="#">数学学院</a></li>
                        <li><a href="#">经济管理学院</a></li>
                        <li><a href="#">软件学院</a></li>
                        <li><a href="#">信息学院</a></li>
                        <li><a href="#">建工学院</a></li>
                        <li><a href="#">外国语学院</a></li>
                        <li><a href="#">矿业学院</a></li>
                        <li><a href="#">美术学院</a></li>
                        <li><a href="#">音乐学院</a></li>
                        <li><a href="#">体育学院</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            工大社区
            <ul>
                <li><a href="#">百度贴吧</a></li>
            </ul>
        </li>
        <li>推荐阅读
            <ul>
                <li><a href="#">数学之美</a></li>
                <li><a href="#">不能承受的生命之轻</a></li>
                <li><a href="#">css设计指南</a></li>
                <li><a href="#">编程之美</a></li>
                <li><a href="#">JavaScript高级程序设计</a></li>
            </ul>
        </li>
        <li>联系我们
            <ul>
                <li><a href="#">新浪微博</a></li>
                <li><a href="#">微信公众号</a></li>
                <li><a href="#">github地址</a></li>
                <li><a href="#">osChina博客</a></li>
            </ul>
        </li>
    </ul>
    <div id="ending_line">
        <p>版权所有<b>&copy;</b>2016 &nbsp;&nbsp;&nbsp;&nbsp;ChangeBao 1.0 created by 大飞哥</p>
    </div>
</footer>
</body>
<script type="text/javascript" src="/static/js/itemGraph.js"></script>
</html>