<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆和注册</title>
    <link rel="stylesheet" href="/static/css/font_load.css"/>
    <link rel="stylesheet" href="/static/css/head_foot.css"/>
    <link rel="stylesheet" href="/static/css/log.css"/>
    <link rel="stylesheet" href="/static/css/form.css"/>
    <script type="text/javascript">
        function showRegister()
        {
            var login=document.getElementById("register").firstElementChild;
            var register=document.getElementById("register").lastElementChild;
            login.style.display="none";
            register.style.display="block";
        }
        function getFileUrl(node) {
            var url;
            if (navigator.userAgent.indexOf("MSIE")>=1) { // IE
                url = node.value;
            } else if(navigator.userAgent.indexOf("Firefox")>0) { // Firefox
                url = window.URL.createObjectURL(node.files.item(0));
            } else if(navigator.userAgent.indexOf("Chrome")>0) { // Chrome
                url = window.URL.createObjectURL(node.files.item(0));
            }
            return url;
        }
        function preShow(event){
            var node=document.getElementById("preShow").firstElementChild;
            var file=document.getElementById("userHead");
            node.src=getFileUrl(file);
        }
    </script>
    <style type="text/css">
        #register form:last-child{
            display:none;
        }
    </style>
</head>
<body>
    <header>
        <h1><a href="http://changebao.com">ChangeBao</a></h1>
        <nav>
            <ul>
                <li><a href="#">登陆</a></li>
                <li><a href="#">注册</a></li>
                <li><a href="#">首页</a></li>
                <li><a href="#">说明</a></li>
            </ul>
        </nav>
    </header>
    <div id="main">
        <article>
            <div id="inner_line">
            <h3>网站声明</h3>
            <p>
                本站致力于为校内大学生提供物品交换的信息和渠道，希望来自不同的他(她)手中的闲置物品可以成为您手上的宝。
            </p>
            <p>
                你可以使用自己的个人信息，包括真实姓名、院系，邮箱等获得一个账号，
                使用商品发布的功能发布自己闲置的商品，使用查找功能或者我们系统后台根据您对某些物品的评论情况为您准备的推荐来找到自己
                感兴趣的物品，使用商品的讨论功能与物品持有者对物品进行讨论以获得关于该物品的更多的信息。
            </p>
            <p>
                关于网站使用的进一步说明，<a href="/readme/">请阅读</a>
            </p>
            </div>
        </article>
        <div id="register">
            <form  action="/login/" method="post" enctype="multipart/form-data" class="stylin_form1">
                <h3>ChangeBao1.0</h3>
                <fieldset>
                    <legend><span>登录表单</span></legend>
                    <section>
                        <label for="user_name">用户名</label>
                        <input type="text" id="user_name" name="user_name" />
                        <label for="password">密码</label>
                        <input type="password" id="password" name="password" maxlength="20" />
                        <p class="error">{{ errorMsg }}</p>
                    </section>
                    <section> <!-- input must be wrapped in a block level element to validate -->
                        <input type="submit" value="登录"  id="login"/>
                        <input type="button" value="注册" id="register_button" onclick="showRegister()"/>
                    </section>
                </fieldset>
            </form>
            <form action="/register/" method="post" enctype="multipart/form-data" class="stylin_form1 labels_left">
                <h3>ChangeBao1.0</h3>
                <fieldset>
                    <legend><span>注册表单</span></legend>
                    <section>
                        <p class="note">* 为必填内容</p>
                        <label for="user_name">用户名<span> *</span></label>
                        <input type="text" id="user_name" name="user_name" />
                        <p>请填写真实姓名</p>
                    </section>
                    <section>
                        <label for="password">密码<span> *</span></label>
                        <input type="password" id="password" name="password" maxlength="20" />
                        <p>密码位数不低于8位</p>
                    </section>
                    <section>
                        <label for="email">邮箱<span> *</span></label>
                        <input type="text" id="email" name="email" maxlength="20" />
                        <p>请选择您的注册邮箱</p>
                    </section>
                    <section>
                        <label for="special_date">入学日期</label>
                        <input type="date" id="special_date" name="event_date" min="2012-09-05" />
                        <p>请选择您的入学日期</p>
                    </section>
                    <section>
                        <label for="userHead">个人头像</label>
                        <a href="javascript:;" class="upload"><input type="file" id="userHead" name="userHead" onchange="preShow(event)"/>选择头像</a>
                        <p>请选择您的头像</p>
                        <div id="preShow">
                            <img src="/static/pictures/a1.jpg" alt="预览头像" class="preShowPic">
                        </div>
                    </section>
                    <section>
                        <label for="select_choice">所在院系</label>
                        <select id="select_choice" name="select_choice">
                            <option value="0">计算机学院</option>
                            <option value="1">信息学院</option>
                            <option value="2">材料学院</option>
                            <option value="3">建工学院</option>
                            <option value="4">现代科技学院</option>
                            <option value="5">外国语学院</option>
                            <option value="6">马克思学院</option>
                            <option value="7">数学学院</option>
                            <option value="8">矿业学院</option>
                            <option value="9">美术学院</option>
                            <option value="10">经济管理学院</option>
                            <option value="11">音乐学院</option>
                            <option value="12">体育学院</option>
                            <option value="13">软件学院</option>
                        </select>
                    </section>
                    <section>
                        <h4>我感兴趣的是</h4>
                        <section>
                            <input type="checkbox" id="check1" name="checkset" value="1" tabindex="4" />
                            <label for="check1">英雄联盟、NBA</label>
                        </section>
                        <section>
                            <input type="checkbox" checked="checked" id="check2" name="checkset" value="2" />
                            <label for="check2">美妆、美甲、潮流服饰</label>
                        </section>
                        <section>
                            <input type="checkbox"  id="check3" name="checkset" value="3" />
                            <label for="check3">小说、文学、专业课程</label>
                        </section>
                        <p>只要您对某项中的一个话题感兴趣就可以选择</p>
                    </section>
                    <section>
                        <input type="submit" value="提交信息" id="register_submit"/>
                    </section>
                </fieldset>
            </form>
        </div>
    </div>
    <div id="clean"></div>
    <footer>
        <div id="foot_line"></div>
        <ul>
            <li>友情链接
                <ul>
                    <li><a href="#">太原理工大学教务处</a></li>
                    <li><a href="#">太原理工大学勤工助学网站</a></li>
                    <li><a href="#">太原理工大学招就处</a></li>
                    <li><a href="#">龙城学习网站</a></li>
                    <li>太原理工大学学院网站
                        <ul>
                            <li><a href="#">计算机学院</a></li>
                            <li><a href="#">材料学院</a></li>
                            <li><a href="#">现代科技学院</a></li>
                            <li><a href="#">马克思学院</a></li>
                            <li><a href="#">数学学院</a></li>
                            <li><a href="#">经济管理学院</a></li>
                            <li><a href="#">软件学院</a></li>
                            <li><a href="#">信息学院</a></li>
                            <li><a href="#">建工学院</a></li>
                            <li><a href="#">外国语学院</a></li>
                            <li><a href="#">矿业学院</a></li>
                            <li><a href="#">美术学院</a></li>
                            <li><a href="#">音乐学院</a></li>
                            <li><a href="#">体育学院</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                工大社区
                <ul>
                    <li><a href="#">百度贴吧</a></li>
                </ul>
            </li>
            <li>推荐阅读
                <ul>
                    <li><a href="#">数学之美</a></li>
                    <li><a href="#">不能承受的生命之轻</a></li>
                    <li><a href="#">css设计指南</a></li>
                    <li><a href="#">编程之美</a></li>
                    <li><a href="#">JavaScript高级程序设计</a></li>
                </ul>
            </li>
            <li>联系我们
                <ul>
                    <li><a href="#">新浪微博</a></li>
                    <li><a href="#">微信公众号</a></li>
                    <li><a href="#">github地址</a></li>
                    <li><a href="#">osChina博客</a></li>
                </ul>
            </li>
        </ul>
        <div id="ending_line">
            <p>版权所有<b>&copy;</b>2016 &nbsp;&nbsp;&nbsp;&nbsp;ChangeBao 1.0 created by 大飞哥</p>
        </div>
    </footer>
</body>
</html>