<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站声明</title>
    <link rel="stylesheet" href="/static/css/font_load.css"/>
    <link rel="stylesheet" href="/static/css/head_foot.css"/>
    <link rel="stylesheet" href="/static/css/readme.css"/>
</head>
<body>
<header>
    <h1><a href="http://changebao.com">ChangeBao</a></h1>
    <nav>
        <ul>
            <li><a href="/login.html">登录</a></li>
            <li><a href="/register.html">注册</a></li>
            <li><a href="#">首页</a></li>
            <li><a href="#">说明</a></li>
        </ul>
    </nav>
</header>
<div id="main">
    <h3>网站声明</h3>
    <p id="first">本站致力于为校内大学生提供物品交换的信息和渠道，希望来自不同的他(她)手中的闲置物品可以成为您手上的宝。</p>
    <p>&nbsp;</p>
    <p>您可以使用自己的个人信息包括真实姓名、院系、邮箱等获得一个账号，</p>
    <p>使用商品发布功能发布自己闲置的商品，</p>
    <p>使用查找功能或者我们系统后台根据您对某些物品的评论情况为您准备的推荐来找到自己感兴趣的物品，</p>
    <p>使用商品的讨论功能与物品持有者对物品进行讨论以获得关于该物品的更多的信息。</p>
    <p>&nbsp;</p>
    <p>目前支持的物品仅限于计算机方面的书籍，当然您完全可以发布其他的东西，比如山地自行车的七天使用，情人节自己的一天使用，
    当然也可以发布自己的帅照(如果你女朋友不介意的话，当然，你也不一定有女朋友)，或者发布一段代码、发布一个笑话等等。我们希望你们
    能玩出自己的新高度。当然，这样的话会破坏现在的某一部分的推荐功能，因为我们有一部分的推荐是按照商品类别进行推荐的，但是我们毫不介意。
    事实上，我们希望你们这样做，我们希望看到打破常规的行为，因为这往往需要一些hack思维。</p>
    <p>&nbsp;</p>
    <p>事实上，这个网站非常的简陋，功能不齐全，我甚至怀疑他到底有没有人使用。所以，如果您想获得关于这个网站的完整拷贝，您可以根据
    底端提供的方式联系我们。</p>
    <p>&nbsp;</p>
    <p>严格声明：如果运气足够好，真的有人决定使用了我们的网站，那么您需要知道校内物品交换是不需要快递的，对吗？想要change物品的双方可以自行
    商议物品的交换价值，交换方式，交换地点，对于这个过程中出现的任何问题，我们不承担任何责任。</p>
    <p>事实上，这样有一个明显的好处，您可以在很近的范围内，在一次吃饭或者上课或者打球的路上顺便就把这个事儿给办了。</p>
    <p>并且，您可以实实在在的接触到这个物品，然后再决定是否真的要交换。</p>
    <p>&nbsp;</p>
    <p>我们的后台使用了著名的Django框架进行开发，前台是html标签和原生的css和js完成的，推荐算法使用了协同过滤了推荐和基于内容的推荐。</p>
    <p>如果您有任何的疑问都可以通过底端提供的方式联系我们！</p>
</div>
<div class="clean"></div>
<footer>
    <div id="foot_line"></div>
    <ul>
        <li>友情链接
            <ul>
                <li><a href="#">太原理工大学教务处</a></li>
                <li><a href="#">太原理工大学勤工助学网站</a></li>
                <li><a href="#">太原理工大学招就处</a></li>
                <li><a href="#">龙城学习网站</a></li>
                <li>太原理工大学学院网站
                    <ul>
                        <li><a href="#">计算机学院</a></li>
                        <li><a href="#">材料学院</a></li>
                        <li><a href="#">现代科技学院</a></li>
                        <li><a href="#">马克思学院</a></li>
                        <li><a href="#">数学学院</a></li>
                        <li><a href="#">经济管理学院</a></li>
                        <li><a href="#">软件学院</a></li>
                        <li><a href="#">信息学院</a></li>
                        <li><a href="#">建工学院</a></li>
                        <li><a href="#">外国语学院</a></li>
                        <li><a href="#">矿业学院</a></li>
                        <li><a href="#">美术学院</a></li>
                        <li><a href="#">音乐学院</a></li>
                        <li><a href="#">体育学院</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            工大社区
            <ul>
                <li><a href="#">百度贴吧</a></li>
            </ul>
        </li>
        <li>推荐阅读
            <ul>
                <li><a href="#">数学之美</a></li>
                <li><a href="#">不能承受的生命之轻</a></li>
                <li><a href="#">css设计指南</a></li>
                <li><a href="#">编程之美</a></li>
                <li><a href="#">JavaScript高级程序设计</a></li>
            </ul>
        </li>
        <li>联系我们
            <ul>
                <li><a href="#" title="mitu626@163.com">电子邮箱</a></li>
                <li><a href="#" title="米兔626">新浪微博</a></li>
                <li><a href="#" title="你是猴子请来的逗逼吗或者搜索‘wa_aw-’">微信公众号</a></li>
                <li><a href="#" title="点击跳转">github地址</a></li>
                <li><a href="#" title="点击跳转">osChina博客</a></li>
            </ul>
        </li>
    </ul>
    <div id="ending_line">
        <p>版权所有<b>&copy;</b>2016 &nbsp;&nbsp;&nbsp;&nbsp;ChangeBao 1.0 created by 大飞哥</p>
    </div>
</footer>
</body>
<script type="text/javascript" src="itemGraph.js"></script>
</html>