<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人气秘籍</title>
    <link rel="stylesheet" href="/static/css/font_load.css"/>
    <link rel="stylesheet" href="/static/css/head_foot.css"/>
    <link rel="stylesheet" href="/static/css/secretIndex.css"/>
</head>
<body>
<header>
    <h1><a href="http://changebao.com">ChangeBao</a></h1>
    <nav>
        <ul>
            <li><a href="/login.html">登录</a></li>
            <li><a href="/register.html">注册</a></li>
            <li><a href="#">首页</a></li>
            <li><a href="#">说明</a></li>
        </ul>
    </nav>
</header>
<div id="main">
    <h3>迅速提升人气秘籍</h3>
    <p id="first">少年，老夫看你骨骼精奇，根骨极佳，实在是百年难得一遇的奇才。我这里有本提升人气的秘籍,本来是当年张无忌称霸江湖要用的，
    只可惜他不会讲段子，未曾哄得老夫开心，所以与秘籍无缘。今日你若能讲个段子给我听，我便赠予你。</p>
    <p>什么？你说你若会讲段子还来这儿干什么？还问我到底有没有秘籍？你这是在怀疑我嘛，看来我不讲个段子你是真的不相信我了！</p>
    <p>东莞扫黄，一小姐改行，应聘到贸易公司。</p>
    <p>一个月时间，搞定20个已婚男同事，然后辞职。</p>
    <p>几天后，小姐给20个男人，群发一条短信“怀孕了，需要5000元人流。一次性支付，今后不再相干”</p>
    <p>三日内，收入十万块。</p>
    <p>这是什么，跨界+用户规模化+服务个性化(先免费后付费)模式创新</p>
    <p>哈哈哈哈哈。。。。。。</p>
    <p>。。。别说话，让我笑一会儿。。。</p>
    <p>什么？这有什么好笑的？</p>
    <p>看来不漏点真功夫你不服啊？</p>
    <p>深夜，警察发现一男子在ATM自动取款机房间里看书，问:"为什么在这里看书！”男子:"在家看书没有压力看不下去，
        在这里只要我看不下去的时候我就把银行卡插进去看看余额，马上就有心思接着看书了."警察听后，也把银行卡插进了取款机，
        看一眼，抱着男子痛哭：“一起努力”。</p>
    <p>哈哈哈哈哈哈哈哈哈</p>
</div>
<div class="clean"></div>
<footer>
    <div id="foot_line"></div>
    <ul>
        <li>友情链接
            <ul>
                <li><a href="#">太原理工大学教务处</a></li>
                <li><a href="#">太原理工大学勤工助学网站</a></li>
                <li><a href="#">太原理工大学招就处</a></li>
                <li><a href="#">龙城学习网站</a></li>
                <li>太原理工大学学院网站
                    <ul>
                        <li><a href="#">计算机学院</a></li>
                        <li><a href="#">材料学院</a></li>
                        <li><a href="#">现代科技学院</a></li>
                        <li><a href="#">马克思学院</a></li>
                        <li><a href="#">数学学院</a></li>
                        <li><a href="#">经济管理学院</a></li>
                        <li><a href="#">软件学院</a></li>
                        <li><a href="#">信息学院</a></li>
                        <li><a href="#">建工学院</a></li>
                        <li><a href="#">外国语学院</a></li>
                        <li><a href="#">矿业学院</a></li>
                        <li><a href="#">美术学院</a></li>
                        <li><a href="#">音乐学院</a></li>
                        <li><a href="#">体育学院</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            工大社区
            <ul>
                <li><a href="#">百度贴吧</a></li>
            </ul>
        </li>
        <li>推荐阅读
            <ul>
                <li><a href="#">数学之美</a></li>
                <li><a href="#">不能承受的生命之轻</a></li>
                <li><a href="#">css设计指南</a></li>
                <li><a href="#">编程之美</a></li>
                <li><a href="#">JavaScript高级程序设计</a></li>
            </ul>
        </li>
        <li>联系我们
            <ul>
                <li><a href="#">新浪微博</a></li>
                <li><a href="#">微信公众号</a></li>
                <li><a href="#">github地址</a></li>
                <li><a href="#">osChina博客</a></li>
            </ul>
        </li>
    </ul>
    <div id="ending_line">
        <p>版权所有<b>&copy;</b>2016 &nbsp;&nbsp;&nbsp;&nbsp;ChangeBao 1.0 created by 大飞哥</p>
    </div>
</footer>
</body>
<script type="text/javascript" src="itemGraph.js"></script>
</html>